<a href="https://colab.research.google.com/github/TheTharz/ML-Lectures/blob/main/01_Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Input and Output

Hello World

In [2]:
print("Hello World")

Hello World

Some more Output

In [3]:
print(2+5)

7

#Variables

Assigning variable

In [4]:
five = 5
one = 1
print(five)
print(one + one)
message = "This is a string"
print(message)

5
2
This is a string

Type of variables

In [5]:
print(type(five))

<class 'int'>

Taking inputs from users

In [8]:
num1 = input("Enter the number 01 - ")
num2 = input("Enter the number 02 - ")
print(num1+num2)

Enter the number 01 - 58
Enter the number 02 - 552
58552

convert to int

In [9]:
num1 = int(input("Enter the number 01 - "))
num2 = int(input("Enter the number 02 - "))
print(num1+num2)

Enter the number 01 - 5
Enter the number 02 - 3
8

Data Types

In [10]:
integer_variable = 100
floating_point_variable = 100.0
string_variable = "100"

print(type(integer_variable))
print(type(floating_point_variable))
print(type(string_variable))
print("-----")
print(type(int(floating_point_variable)))
print(type(float(integer_variable)))
print(type(float(string_variable)))

<class 'int'>
<class 'float'>
<class 'str'>
-----
<class 'int'>
<class 'float'>
<class 'float'>

#File Input And Output

Writing to a file

In [12]:
my_file = open("output_file.txt",'w')
vars = "This is a string\n"
my_file.write(vars)
var3 = 10

my_file.write(str(var3))
var4 = 20.0
my_file.write("\n")
my_file.write(str(var4))
my_file.close()

Reading from a file

In [13]:
my_file = open("output_file.txt",'r')
content = my_file.read()
print(content)
my_file.close()

This is a string
10
20.0

Reading line by line

In [14]:
my_file = open("output_file.txt",'r')
vars = my_file.readline()
var5 = my_file.readline()
var6 = my_file.readline()
print("String: ", vars)
print("Integer: ", var5)
print("Float: ", var6)
my_file.close()

String:  This is a string

Integer:  10

Float:  20.0

#Arithmatic operations

In [15]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)

# subtraction
print ('Subtraction: ', a - b)

# multiplication
print ('Multiplication: ', a * b)

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

Operator presendence

P means parentheses
E means exponent
M means multiplication
D means division
A means addition
S means Subtraction

#Lists

Difference between lists in c++,c,java is we can have different data types in a single list

In [16]:
a = [ 1, 3 ,4, 6]
print(a)
print(type(a))

[1, 3, 4, 6]
<class 'list'>

In [17]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5

In [18]:
list1 = ["abc", 34, True, 40, "male"]
a = list1[1] + list1[2]
print(a)

a = list1[0] + list1[4]
print(a)

35
abcmale